@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main-gradient: linear-gradient(
      to right,
      theme('colors.primary.500'),
      #ef4444
    );
    --main-gradient1: linear-gradient(
      to bottom right,  /* 或者用度数 '135deg' 也可以 */
      theme('colors.primary.300'),
      theme('colors.primary.600')
    ); 
  }
}

@layer components {
  /* 创建一个通用的渐变横线样式 */
  .gradient-line-after {
    position: relative;
    padding-bottom: 0.75rem;
  }

  .gradient-line-after::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.2rem;
    border-radius: 9999px;
    background: var(--main-gradient);
  }

  /* 不同宽度的变体 */
  .gradient-line-after.line-lg::after {
    width: 16rem;
  }

  .gradient-line-after.line-md::after {
    width: 8rem;
  }

  .gradient-line-after.line-sm::after {
    width: 4rem;
  }

  .gradient-line-after.line-xm::after {
    width: 2rem;
  }

  /* 保持原有的 prose 样式 */
  .prose h2,
  .prose h3 {
    @apply gradient-line-after;
  }

  .prose h2::after {
    width: 8rem;
  }

  .prose h3::after {
    width: 4rem;
  }

  .article-title-wrapper {
    position: relative;
  }
/* 
  .article-title-wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.20rem;
    width: 16rem;
    border-radius: 9999px;
    background: var(--main-gradient);
  } */
}
